@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
        color: inherit;
        display: inline-block;
    }
}
@layer components{
    .section-title{
        @apply font-serif text-2xl text-center md:text-left
    }
}
@layer utilities{
    .none-scroll::-webkit-scrollbar{
        height: 0 !important;
    }
    .scrolly::-webkit-scrollbar{
        width: 0;
        background-color: #999;
        height: 5px;
        border-radius: 10px;
    }
    .scrolly::-webkit-scrollbar-track{
        box-shadow: 0px 2px 3px gray;
    }
    .scrolly::-webkit-scrollbar-thumb{
        background-color: #333;
        border-radius: 10px;
    }
}
